{%- assign pdata = site.data.components.products[page.product] -%}
{%- assign r = pdata.graph.ribbon -%}
{%- if r %}
<div class="rib-wrap" markdown="0">
  <div class="rib" style="width:{{ r.w }}px;height:{{ r.h }}px">
    <img class="rib-img" src="{{ r.img | relative_url }}"
      alt="The {{ r.tab }} tab in the Grasshopper ribbon, with its panels"
      style="left:{{ r.imgX }}px;top:{{ r.imgY }}px;width:{{ r.imgW }}px;height:{{ r.imgH }}px">
    <svg viewBox="0 0 {{ r.w }} {{ r.h }}" aria-hidden="true">
      <g class="rib-band">
        {%- for p in r.panels %}
        <rect x="{{ p.bx }}" y="{{ p.by }}" width="{{ p.bw }}" height="{{ r.barH }}" rx="1"/>
        {%- endfor %}
      </g>
      <g class="rib-lead">
        {%- for p in r.panels %}
        <path d="{{ p.d }}"/>
        {%- endfor %}
      </g>
    </svg>
    {%- for p in r.panels %}
    <div class="rib-call" style="left:{{ p.x }}px;top:{{ p.y }}px;width:{{ p.w }}px;height:{{ r.callH }}px"><b>{{ p.name | escape }}</b><span>{{ p.count }} components</span></div>
    {%- endfor %}
  </div>
</div>
{%- endif %}
